.Rhistory
.Rproj.user/
_book/
_bookdown_files/
rsconnect/
index.knit.md
*.swp
.vscode/
Exam/crabs.txt
Exam/Exam_cache/
Exam/Exam_files/
Exam/Exam-Sol.Rmd
06-Nonparametric-Methods-Solutions.txt
_main.log
_main.pdf
_main.tex
